
.switch {
    position: relative;
    display: inline-block;
    width: 115px;
    height: 41px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    z-index: 2;
    content: "";
    height: 39px;
    width: 38px;
    left: 2px;
    bottom: 1px;
    background-color: darkslategrey;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    -webkit-transition: .4s;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
}

.slider:after {
    position: absolute;
    left: -15px;
    z-index: 1;
    content: "Active";
    font-size: 15px;
    text-align: left !important;
    line-height: 40px;
    padding-left: 0;
    width: 217px;
    color: #fff;
    height: 42px;
    border-radius: 10px;
    background-color: #ff6418;
    -webkit-transform: translateX(-160px);
    -ms-transform: translateX(-160px);
    transform: translateX(-160px);
    transition: all 0.4s ease-in-out;
}

input:checked+.slider:after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    /*width: 235px;*/
    padding-left: 25px;
}

input:checked+.slider:before {
    background-color: #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(74px);
    -ms-transform: translateX(74px);
    transform: translateX(74px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.absolute-no {
    position: absolute;
    left: 0;
    color: darkslategrey;
    text-align: right !important;
    font-size: 15px;
    width: calc(100% - 12px);
    height: 100px;
    line-height: 40px;
    cursor: pointer;
}
